In [1]:
import pandas as pd

In [43]:
df = pd.read_csv('titanic.csv')

Data Exploration.

In [44]:
df.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

Sepearte inputs and outputs.

In [45]:
inputs = df.drop(['PassengerId','Pclass','Survived','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis = 'columns')
inputs.head(4)

      Sex   Age     Fare
0    male  22.0   7.2500
1  female  38.0  71.2833
2  female  26.0   7.9250
3  female  35.0  53.1000

outputs.

In [46]:
y = df.Survived
y.head(4)

0    0
1    1
2    1
3    1
Name: Survived, dtype: int64

Convert the columns with categories to numerical data.

In [47]:
df_dummies = pd.get_dummies(inputs['Sex'], dtype = 'int')
df_dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

Merge the dummies dataframe with the original input dataframe.

In [48]:
merged = pd.concat([inputs,df_dummies], axis = 'columns')

In [49]:
merged.head(4)

      Sex   Age     Fare  female  male
0    male  22.0   7.2500       0     1
1  female  38.0  71.2833       1     0
2  female  26.0   7.9250       1     0
3  female  35.0  53.1000       1     0

Drop the categorical column.

In [50]:
X = merged.drop('Sex', axis = 'columns')

In [51]:
X

      Age     Fare  female  male
0    22.0   7.2500       0     1
1    38.0  71.2833       1     0
2    26.0   7.9250       1     0
3    35.0  53.1000       1     0
4    35.0   8.0500       0     1
..    ...      ...     ...   ...
886  27.0  13.0000       0     1
887  19.0  30.0000       1     0
888   NaN  23.4500       1     0
889  26.0  30.0000       0     1
890  32.0   7.7500       0     1

[891 rows x 4 columns]

Remove null values by replacing na value with the mean.

In [52]:
#we have to check for na values.

In [53]:
X.isnull().any()

Age        True
Fare      False
female    False
male      False
dtype: bool

In [54]:
#OR
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [55]:
X.Age = X['Age'].fillna(X.Age.mean())

In [56]:
X.Age.head(6)   #6th value is filled with the mean value.(29.699118)

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
Name: Age, dtype: float64

Split the data into training and testing datasets.

In [58]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

import and create the naive bayes model

GaussianNB is used for normal distribution.

In [60]:
from sklearn.naive_bayes import GaussianNB

In [61]:
model = GaussianNB()

In [65]:
#Training of the model.
model.fit(X_train,y_train)

GaussianNB()

Accuracy of the model.

In [66]:
model.score(X_test,y_test)

0.8100558659217877

In [67]:
X_train

           Age     Fare  female  male
359  29.699118   7.8792       1     0
480   9.000000  46.9000       0     1
599  49.000000  56.9292       0     1
724  27.000000  53.1000       0     1
24    8.000000  21.0750       1     0
..         ...      ...     ...   ...
322  30.000000  12.3500       1     0
351  29.699118  35.0000       0     1
744  31.000000   7.9250       0     1
432  42.000000  26.0000       1     0
726  30.000000  21.0000       1     0

[712 rows x 4 columns]

In [68]:
y_train

359    1
480    0
599    1
724    1
24     0
      ..
322    1
351    0
744    1
432    1
726    1
Name: Survived, Length: 712, dtype: int64

In [73]:
model.predict(X_test[:10])

array([0, 0, 1, 1, 1, 0, 1, 1, 1, 0])

In [74]:
model.predict_proba(X_test[:10])

array([[9.73307102e-01, 2.66928984e-02],
       [9.75061362e-01, 2.49386378e-02],
       [2.14514310e-02, 9.78548569e-01],
       [2.68397308e-02, 9.73160269e-01],
       [2.64619906e-09, 9.99999997e-01],
       [9.46589501e-01, 5.34104994e-02],
       [2.75652346e-02, 9.72434765e-01],
       [2.80022704e-02, 9.71997730e-01],
       [3.13955062e-03, 9.96860449e-01],
       [9.72252181e-01, 2.77478191e-02]])

In [75]:
y_test[:10]

529    0
104    0
39     1
888    0
700    1
33     0
8      1
300    1
829    1
51     0
Name: Survived, dtype: int64