In [32]:
data = [1,2,3,4,5,6,7,8,9]
y = ['odd','even','odd','even','odd','even','odd','even','odd']

In [30]:
import pandas as pd
df = pd.DataFrame(data)

In [33]:
df['type'] = y

In [34]:
df

   0  type
0  1   odd
1  2  even
2  3   odd
3  4  even
4  5   odd
5  6  even
6  7   odd
7  8  even
8  9   odd

In [36]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['target'] = le.fit_transform(df.type)

In [38]:
df

   0  type  target
0  1   odd       1
1  2  even       0
2  3   odd       1
3  4  even       0
4  5   odd       1
5  6  even       0
6  7   odd       1
7  8  even       0
8  9   odd       1

In [40]:
X = df.drop(['type','target'], axis = 'columns')
y = df.target

In [5]:
from sklearn.model_selection import KFold
kf = KFold(n_splits = 3)

In [44]:
for i in kf.split(X):
    print(i)

(array([3, 4, 5, 6, 7, 8]), array([0, 1, 2]))
(array([0, 1, 2, 6, 7, 8]), array([3, 4, 5]))
(array([0, 1, 2, 3, 4, 5]), array([6, 7, 8]))

In [45]:
for i,j in kf.split(X):
    print(i,j)

[3 4 5 6 7 8] [0 1 2]
[0 1 2 6 7 8] [3 4 5]
[0 1 2 3 4 5] [6 7 8]

In [24]:
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits = 3)

In [42]:
for i,j in skf.split(X,y):
    print(i,j)

[3 4 5 6 7 8] [0 1 2]
[0 1 2 5 7 8] [3 4 6]
[0 1 2 3 4 6] [5 7 8]